@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 75px;
    line-height: 75px;
    margin: 0;
}
    header #logo {
        display: inline-block;
        margin: 0;
        margin-left: 50px;
        font-size: 25px;
    }
    header nav {
        display: inline-block;
        float: right;
    }
        header nav ul {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 75px;
        }
            header nav ul li {
                display: inline-block;
                margin: 0;
                padding: 0;
                cursor: pointer;
                height: 75px;
                line-height: 75px;
                color: #222;
            }
            header nav ul li:last-child {
                background-color: rgb(75,100, 200);
                color: #fff;
            }
            header nav ul a {
                display: inline-block;
                padding: 0 25px;
                color: currentColor;
                height: 75px;
                line-height: 75px;
                font-size: 20px;
                text-decoration: none;
            }
                header nav ul a:hover {
                    box-sizing: border-box;
                    border-bottom: 5px solid blue;
                }

main {
    width: 100%;
    background-color: rgb(75,100, 200);
    margin: 0;
    height: 650px;
    min-height: 500px;
    overflow: none;
}
    main h1 {
        display: inline-block;
        margin: 0;
        background-color: #ddd;
        padding: 40px;
        font-size: 100px;
        margin: 100px 0px 0 50px;
        color: #999;
    }
        main h1 em {
            font-style: normal;
            color: rgb(75,100, 200);
        }

    main h2 {
        font-size: 40px;
        color: #ddd;
        margin-left: 50px;
    }
    main a {
        display: inline-block;
        padding: 25px;
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        margin-left: 50px;
    }

section {
    overflow: none;
    text-align: center;
    color: #333;
    padding: 25px 0;
}
    section > h1:first-child {
        font-size: 35px;
        margin: 0 auto 25px auto;
    }
    section > p {
        margin: 25px auto;
        width: 700px;
    }
